export VCAP_SERVICES='
   {
     "elephantsql": [
      {
       "credentials": {
        "max_conns": "5",
        "uri": "postgres://postgres:@localhost:5432/url_shortener"
       },
       "label": "elephantsql",
       "name": "postgres-db",
       "plan": "turtle",
       "tags": [
        "Data Stores",
        "Data Store",
        "postgresql",
        "PaaS",
        "relational",
        "New Product",
        "IT Management"
       ]
      }
     ],
     "redis": [
      {
       "credentials": {
        "host": "localhost",
        "password": "",
        "port": 6379
       },
       "label": "redis",
       "name": "pcf-redis",
       "plan": "dedicated-vm",
       "tags": [
        "pivotal",
        "redis"
       ]
      }
     ]
   }
 '

 export SHORTENER_HOST=localhost:8080