<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>w0rd.it admin</title>

        <!-- build:js admin/vendor.js -->
        <script src="../bower_components/angular/angular.js"></script>
        <!-- endbuild -->

        <!-- build:js1 admin/app.js -->
        <script src="main.js"></script>

        <script src="ListController.js"></script>
        <script src="ResetController.js"></script>
        <script src="ImportController.js"></script>
        <script src="CustomShortenerController.js"></script>
        <script src="HeaderController.js"></script>
        <script src="WordsController.js"></script>
        <!-- endbuild -->
    </head>

    <body ng-app="WordItAdminApp">

        <noscript>
            Word of advice: activate JavaScript.
        </noscript>

        <header>
            <h1>w0rd.it Admin Panel</h1>
            <div ng-controller="HeaderController">
                Total hashes: {{ remainingCount }}, Shortened hashes: {{ shortenedCount }}
            </div>
        </header>

        <div ng-controller="ImportController">
            <h2>Import hashes</h2>

            <input type="text" ng-model="numberOfWords" placeholder="Number of words" />
            <input type="text" ng-model="wordLength" placeholder="Word length" />
            <button ng-click="import()">Import {{ numberOfWords }} fresh words with length {{ wordLength }}</button>
        </div>

        <div ng-controller="CustomShortenerController">
            <h2>Shorten URL</h2>

            <form novalidate ng-submit="shorten()">
                <input type="text" ng-model="url" placeholder="URL"/>
                <input type="text" ng-model="hash" placeholder="Hash"/>
                <button type="submit" >Shorten</button>
            </form>
        </div>

        <div ng-controller="ListController">
            <h2>Shortened URLs</h2>

            <ul>
                <li ng-repeat="url in shortenedUrls"><a href="{{url.original}}">{{url.hash}}</a></li>
            </ul>
        </div>

        <div ng-controller="ResetController">
            <h2>Reset all data</h2>

            <button ng-click="resetAll()">Clear all hash</button>
            <button ng-click="resetUnused()">Remove unused hashes</button>
        </div>

        <div ng-controller="WordsController">
            <h2>Hashes</h2>

            <ul>
                <li><a href="" ng-click="prevPage()">Previous page</a></li>
                <li><a href="" ng-click="nextPage()">Next page</a></li>
            </ul>

            <table>
                <thead>
                    <tr>
                        <td><a href="" ng-click="sortBy('&sort=hash&hash.dir=asc')">Hash</a></td>
                        <td><a href="" ng-click="sortBy('&sort=available&available.dir=asc')">Available</a></td>
                        <td>Language</td>
                        <td>Indexed</td>
                        <td>Description</td>
                        <td>Registered</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dictionaryHash in dictionaryHashes">
                        <td>{{ dictionaryHash.hash }}</td>
                        <td>{{ dictionaryHash.available }}</td>
                        <td>{{ dictionaryHash.language }}</td>
                        <td>{{ dictionaryHash.indexed }}</td>
                        <td>{{ dictionaryHash.description }}</td>
                        <td>{{ dictionaryHash.registered }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </body>

</html>