<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">

    <title>URL Shortener</title>

    <!-- build:css style.css -->
    <link rel="stylesheet" href="normalize.css"/>
    <link rel="stylesheet" href="style.css"/>
    <!-- endbuild -->

    <!-- build:js /vendor.js -->
    <script src="../bower_components/angular/angular.js"></script>
    <!-- endbuild -->

    <!-- build:js1 app.js -->
    <script src="main.js"></script>
    <script src="ShortenerForm/ShortenerFormCtrl.js"></script>
    <!-- endbuild -->

</head>

<body ng-app="UrlShortenerApp">

<form id="urlForm" ng-controller="ShortenerFormCtrl">
    <h1 ng-class="{success : showSuccess, error : showError}">URL Shortener</h1>

    <fieldset>
        <p class="error" ng-if="showError">I hate to say, but: {{shortenerResponse.message}} <span>({{shortenerResponse.status}})</span></p>

        <p class="success" ng-if="showSuccess">
            <a href="{{shortenerResponse.shortened}}">{{shortenerResponse.shortened}}</a> is your shortened URL.
            <span ng-if="shortenerResponse.description" class="description">xxx{{ shortenerResponse.description }}</span>
        </p>

        <input class="url" type="text" ng-model="url" placeholder="Paste your URL."/>

        <button ng-click="postURL()" type="submit"> Do it.</button>
    </fieldset>
    <div class="stats">{{ counter }} shortened URLs.</div>
</form>

</body>

</html>