* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: rgb(70, 41, 81);
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: rgb(70, 41, 81);
}

#wordItForm {
    width: 60%;
    margin: auto;
    text-align: center;
}

.content {
    border: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background: #fff;
    padding: 0px;
    margin: 0;
}

.control {
    display: flex;
    padding: 2px;
}

.control__input,
.control__button {
    font-size: 120%;
    padding: 20px;
    border: none;
}

.control__error {
    background-color: #FFD1D1;
    padding: 17px;
    margin: 0px;
    border-radius: 6px;
}

.control__input {
    width: 75%;
    border: none;
    text-align: center;
}

.control__button{
    background: rgb(70, 41, 81);
    color:#fff;
    width: 25%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.control__button[disabled] {
    background: gainsboro;
}

header {
    font-size: 265%;
    margin: 0 0 30px;
    padding: 0 20px;
    text-align: left;
}

.title__hash {
    color: #BDAEC4;
}

.title__name,
.title__slash {
    color: #fff;
    font-weight: bold;
}

.bubble {
    margin: 0 0 20px 180px;
    background: #D1A2D2;
    font-size: 1rem;
    padding: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: relative;
}
.bubble__triangle {
    position: absolute;
    bottom: -10px;
    left: 10px;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: #D1A2D2 transparent transparent transparent;
}

footer {
    margin: 30px 0;
    color: #DCDCDC;
}